html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: url("assets/poster2.0.jpg");
  background-repeat: no-repeat;
  background-size: 1125px 1910px;
  background-position: 0 0;
  background-attachment: fixed;
}


canvas {
  display: inline-block;
  transform: translate(180px, 0px);
  margin: 0 auto;
  text-align: center;
  padding-top: 190px;
}

video {
  display: inline-block;
  transform: translate(180px, 0px);
  margin: 0 auto;
  text-align: left;
}


